@import url(https://fonts.googleapis.com/css?family=Inconsolata);
body {

	color: white;
	/*font-family: 'Cutive Mono';*/
/*	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
*/	
    font-family: 'Inconsolata';
    font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;

	font-size: 80px;
}

h1 {
	font-size: 32px;
	line-height: 1em;
	margin:0;
}

.center {
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}
.colour-info {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}